name: Lint

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: check eslint

    strategy:
      matrix:
        node-version: ['12', '14']

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: use node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      
      - name: install modules
        run: yarn install --frozen-lockfile
      
      - name: run eslint
        run: yarn lint
